.head {
    position: relative;
    //height: 19rem;
    height: 28rem;
    background-image: url('../../images/back.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: Rubik, sans-serif;
        color: #fff;
        font-size: 2.8rem;
        // margin: 1.7rem 0;
        margin-top: 3rem;
        margin-bottom: 2.5rem;
    }

    input {
        position: relative;
        border: none;
        outline: none;
        height: 6.5rem;
        width: 50rem;
        border-radius: 15px;
        font-size: 1.7rem;
    }

    button {
        cursor: pointer;
        background: #000;
        border: none;
        outline: none;
        height: 6.5rem;
        width: 6rem;
        margin-left: -3.4rem;
        position: absolute;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: #fff;

        &:hover {
            transform: scale(1.1);
            transition: 0.7s ease-in;
        }

        &:active {
            transform: scale(.95);
            transition: 0.7s ease-in;
        }
    }

    .card {
        border: none;
        outline: none;
        border-radius: 15px;
        position: absolute;
        background: #fff;
        height: 15rem;
        width: 78%;
        margin-top: 20rem;
        z-index: 100;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .content {
            align-self: center;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:not(:last-child) {
                border-right: solid 1.3px;
                color:#2b2b2b;
            }

            h3 {
                color: #969696;
                margin-top: -.5rem;
                margin-left: 2.5rem;
                font-family: Open Sans, sans-serif;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 2px;
            }

            .box {
                height: 80%;

                p {
                    color: #000;
                    margin-left: 2.5rem;
                    font-family: Open Sans, sans-serif;
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
        }
    }
}
